extends layout

block content
  .container
    .well
      h2 About FlickrScroll
      p FlickrScroll allows you to brows all the creative-commons pictures from Flickr by tag, 
        | just enter your search tag in the box and relax!  
        | I built this out of a need for pictures for a different project.  See 
        a(href="http://www.flickr.com/creativecommons/") Flickr 
        | for more information about the license.


      p 
        | This project was created by 
        a(href="http://www.mpwoz.com") Martin Wozniewicz 
        | in January 2013
      
      p FlickrScroll is built using Node.js, jQuery, and the Waypoints library for infinite scrolling
    

    .well
      h2 Interested in how it works?
      p
        a(href="http://www.github.com/mpwoz/flickrscroll") Check out the source code!

