extends layout

block content

  div#images
  div#footer


block scripts
  //script(src="http://masonry.desandro.com/jquery.masonry.min.js")
  //script(src="http://isotope.metafizzy.co/jquery.isotope.min.js")
  //script(src="/js/lib/jquery.imagesloaded.min.js")
  script(src="/js/lib/waypoints.min.js")
  script(src="/js/index.js")
