extends layout

block content

  div#images

block scripts
  script(src="http://masonry.desandro.com/jquery.masonry.min.js")
  script(src="http://isotope.metafizzy.co/jquery.isotope.min.js")
  script(src="/js/lib/jquery.imagesloaded.min.js")
  script(src="/js/index.js")
