doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          form.navbar-form.pull-right#tag-form
            input.span2#tag-text(type="text")
            button.btn#tag-submit(type="submit") Search Tags
          a.brand(href="/") FlickrScroll
          ul.nav
            li
              a(href="/about") About


    div.container#main-container
      block content

    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    block scripts
      
