body {
  padding-top: 51px;
  background-color: #191919;
}
body > div.container {
  padding-top: 2px;
  background-color: #191919;
}
.item {
  float: left;
  height: 150px;
  width: 150px;
  margin: 1px;
}
input#tag-text {
  margin-right: 10px;
}
