body
  //padding: 50px
  padding: 0px
  margin: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
/*
img
  margin: 4px
img:hover
  margin: 0px
  border: 4px solid black
*/

.item
  width: 240
  float: left
  
.item img
  width: 100%
